extends ../layout

block content
  p
  h3.text-center Form
  p
  .container
    .row
      .col-md-12
        form.form-horizontal(method="post", action="/admin/bpmaintmtg/new")
          input(type="hidden", name="bpmaintmtg[_id]", value="#{bpmaintmtg._id}")
          //- 隐藏表单域，用来更新电影数据，存储电影ID
          .form-group
            label(for='exampleFormControlSelect1') Example select
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.col-sm-5.control-label(for="inputPoster") Poster
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="bpmaintmtg[poster]", value="#{bpmaintmtg.poster}", placeholder='Insert Name')
          .form-group
            label.col-sm-5.control-label(for="inputFirstname") Bage Number
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="bpmaintmtg[bage_number]", value="#{bpmaintmtg.bage_number}", placeholder='Insert Number')
          .form-group
            label.col-sm-5.control-label(for="inputPoster") First Name
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="bpmaintmtg[first_name]", value="#{bpmaintmtg.first_name}",  placeholder='Insert First Name')
          .form-group
            label.col-sm-5.control-label(for="inputPoster") Last Name
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="bpmaintmtg[last_name]", value="#{bpmaintmtg.last_name}", placeholder='Insert Last Name')
          .form-group
            label.col-sm-5.control-label(for="inputPoster") Line Issue
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="bpmaintmtg[l_issue]", value="#{bpmaintmtg.l_issue}", placeholder='Insert Issue Name')
          .form-group
            label.col-sm-5.control-label(for="inputDescritpion") Description
            .col-sm-10
              textarea#inputSummary.form-control(type="text", name="bpmaintmtg[l_issue_des]", value="#{bpmaintmtg.l_issue_des}", placeholder='Insert Descritpion')
          .form-group
            label.col-sm-5.control-label(for="inputTopic") Safety Talk Topic
            .col-sm-10
              input#inputDoctor.form-control(type="text", name="bpmaintmtg[safety_talk]", value="#{bpmaintmtg.safety_talk}", placeholder='Insert Safety Topic')
          .form-group
            label.col-sm-5.control-label(for="inputDescritpion") Description
            .col-sm-10
              textarea#inputSummary.form-control(type="text", name="bpmaintmtg[safety_talk_des]", value="#{bpmaintmtg.safety_talk_des}", placeholder='Insert Descritpion')                
          button.btn.btn-primary(type='submit') Submit
  .container
    .row
      .col-md-12
        form.form-horizontal(method="post", action="/admin/elec_maint_metting/new")
        .form-group
          .col-sm-offset-2.col-sm-10
        .form-group
          label(for='exampleFormControlInput1') Poster
          input#exampleFormControlInput1.form-control(placeholder='Poster Name' type="text", name="bpmaintmtg[poster]", value="#{bpmaintmtg.poster}")
        .form-group
          label(for='exampleFormControlSelect1') Example select
          select#exampleFormControlSelect1.form-control
            option 1
            option 2
            option 3
            option 4
            option 5
        .form-group
          label(for='exampleFormControlSelect2') Example multiple select
          select#exampleFormControlSelect2.form-control(multiple='')
            option 1
            option 2
            option 3
            option 4
            option 5
        .form-group
          label(for='exampleFormControlTextarea1') Example textarea
          textarea#exampleFormControlTextarea1.form-control(rows='3')
        .form-row
          .form-group.col-md-6
            label(for='inputEmail4') Email
            input#inputEmail4.form-control(type='email', placeholder='Email')
          .form-group.col-md-6
            label(for='inputPassword4') Password
            input#inputPassword4.form-control(type='password', placeholder='Password')
        .form-group
          label(for='inputAddress') Address
          input#inputAddress.form-control(type='text', placeholder='1234 Main St')
        .form-group
          label(for='inputAddress2') Address 2
          input#inputAddress2.form-control(type='text', placeholder='Apartment, studio, or floor')
        .form-row
          .form-group.col-md-6
            label(for='inputCity') City
            input#inputCity.form-control(type='text')
          .form-group.col-md-4
            label(for='inputState') State
            select#inputState.form-control
              option(selected='') Choose...
              option ...
          .form-group.col-md-2
            label(for='inputZip') Zip
            input#inputZip.form-control(type='text')
