extends ../layout

block content
  p
  p
  .container
    .row
      .col-md-5
        dl.dl-horizontal
          dt Poster
          dd= bpmaintmtg.poster
          dt Bage Number
          dd= bpmaintmtg.bage_number
          dt First Name
          dd= bpmaintmtg.first_name
          dt Last Name
          dd= bpmaintmtg.last_name
          dt Line Issue
          dd= bpmaintmtg.l_issue
          dt Description
          dd= bpmaintmtg.l_issue_des
          dt Safety Talk
          dd= bpmaintmtg.safety_talk
          dt Description
          dd= bpmaintmtg.safety_talk_des
        
