extends ../layout
block content
  p
  h3.text-center Metting Record
  p
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th Record Data
            th Line Issue
            th Safety Talk
            th Poster
            th Lookup
        tbody
          each item in bpmaintmtgs
            tr(class="item-id-#{item._id}")
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td #{item.l_issue}
              td #{item.safety_talk}
              td #{item.poster}
              td
                a(target='_blank', href='../bpmaintmtg/#{item._id}')
                  button.btn.btn-success(type='button') Lookup

  nav(aria-label='...')
  ul.pagination
    - for ( var i = 0; i < page; i++ )
      li.page-item.disabled
        a.page-link(href='#', tabindex='-1') Previous
      li.page-item
        a.page-link(href='/?p=#{i+1}') #{i+1}
      li.page-item
        a.page-link(href='#', tabindex='+1') Next
  script(src="/js/paginator.js")
